
.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-in-flex {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contenedorf {
  margin : 30px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor2 {
  text-align: left;
  max-width: 100%;
  margin: 10px; 
  background-color: #ffffff;
  border-radius: 5px;
}

.contenedor3 {
  margin: 10%;
  max-width: 30%;
  background-color: transparent;
  border-radius: 5px;
}


.boton {
  padding: 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
  width: 150px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.prueba {
  background-color: #ffc0b8;
  color: #ffffff;
}

.contenedor-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50%;
  margin: 15px auto;
  border-radius: 10px;
  overflow: hidden;
}

.imagen {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card {
  width: 100%;
  max-width: 300px; /* Ancho máximo ajustable */
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  margin: 10px 0;
}

.card p {
  margin: 10px 0;
}
  
.card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}


@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 24px;
}

.navbar-links ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para hacer que la barra de navegación sea responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  .navbar-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

