.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    't t t t t t t t'
    'a a a a b b b b'
    'a a a a b b b b'
    'a a a a b b b b'
    'c c c d d d e e'
    'c c c d d d e e'
    'c c c d d d h f'
    'c c c d d d h f'
    'g g g g g g g g';
  align-items: start;
}
.item0 {
  grid-area: t;
}
.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}
.item5 {
  grid-area: e;
  /* align-items: center; */
}
.item6 {
  grid-area: f;
}
.item7 {
  grid-area: g;
}
.item8 {
  grid-area: h;
}
